@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.liquid{
  width:200px;
  height:200px;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  border-radius: 50%;
}