@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.des{
  border-radius: 118px;
    background: linear-gradient(145deg, #151515, #121212);
    box-shadow: 5px 5px 0px #0e0e0e,
      -5px -5px 0px #1a1a1a;
}